:root {
  --dark-color: #0b2027;
  --accent1: #40798c;
  --accent2: #70a9a1;
  --accent3: #cfd7c7;
  --light-color: #f6f1d1;
  --background: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

nav {
  padding: 10px;
  background-color: var(--dark-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navLink {
  margin-right: 10px;
  background-color: var(--light-color);
  padding: 3px 5px;
  color: black;
  text-decoration: none;
}

.active {
  background-color: var(--accent2);
  text-decoration: underline;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.pageHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75vw;
}

input,
button {
  padding: 4px;
  margin: 0px 10px;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--background);
  border: 3px solid var(--accent1);
  margin: 10px;
  width: 50vw;
  min-height: 150px;
}

.post:hover {
  cursor: pointer;
}

.postHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--accent3);
  padding: 3px;
  margin-bottom: 5px;
}

.postDescription {
  text-align: center;
  padding: 20px;
}

.postFooter {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  background-color: var(--light-color);
}

.wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.featuredFooter {
  display: flex;
  flex-direction: column;
  background-color: var(--light-color);
  padding: 5px;
}

.messageInput {
  min-height: 50px;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

button {
  margin: 5px;
  border-radius: 5px;
}

button:hover {
  background-color: var(--accent3);
}

form {
  padding-top: 10px;
  padding-bottom: 10px;
}

.newPostForm {
}

@media (max-width: 800px) {
  .pageHeader {
    flex-direction: column;
  }
}
